@font-face {
  font-family: "fraktur";
  src: local("fraktur"),
    url('../fonts/fraktur.woff') format("woff");
}

.container .logo h3 {
  color: rgb(176, 211, 211);
  font-family: fraktur;
  font-size: 45px;
  letter-spacing: 3px;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

  // color: black;
  -webkit-text-fill-color: #0f334d;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: rgb(22, 5, 24);

  filter: drop-shadow(1px 1px #000);
}

.myLogoRenderer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  user-select: none;
}

.myLogoRenderer h1 {
  margin: 0;
  color: #b0d3d3;
  font-family: fraktur;
  font-size: 45px;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-text-fill-color: #0f334d;
  -webkit-text-stroke-width: 1px;
  filter: drop-shadow(1px 1px #000);
}

.myMenuItems {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
  text-transform: uppercase;
}

.myMenuItems a {
  margin: 0 15px;
  color: #fff;
  font-weight: 700;
  font-size: larger;
}

.myMenuItems a:hover {
  color: #FFA500;
}

.myHamburgerMenuItems {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #0f334d;
  width: 100%;
} 

.myHamburgerMenuItems a {
  color: #d6f2f2;
  text-transform: uppercase;
  font-weight: 600;
  margin: 6px;
  font-size: large;
}

.myHamburgerMenuItems a:hover {
  color: #FFA500;
}

.container .hamburgerMenu .hamburgerMenuItems {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #0f334d;
  width: 100%;
}

.container .hamburgerMenu .hamburgerMenuItems a {
  color: #d6f2f2;
  text-transform: uppercase;
  font-weight: 600;
  margin: 6px;
  font-size: large;
}

.container .hamburgerMenu .hamburgerMenuItems a:hover {
  color: #FFA500;
}

@keyframes rotatemenu {
  0% {
    transform: rotateX(-90deg);
  }

  70% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.hamburger input[type=checkbox] {
  display: none;
}

@media only screen and (max-width: 700px) {
  .container .hamburger {
    display: flex;
  }

  .container .navbarMenuRendererCenter {
    display: none;
  }

  .container .navbarMenuRendererEnd {
    display: none;
  }
}

/*
TODO hide burgermenu when screen width is enough to display links.
BUG maybe in node-sass. calc not work with vars.
*/
// $hide-burger-menu: calc(1 + 700px);

@media only screen and (min-width: 701px) {
  .container .hamburgerMenu {
    display: none;
  }

  .container .navbarMenuRendererCenter {
    display: unset;
  }

  .container .navbarMenuRendererEnd {
    display: unset;
  }
}