.container {
  border-bottom: 1px solid #eee;
}

.container .item .row {
  display: flex;
  flex-direction: row;
}

.container .item .row .school {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .item .row .school .qualification {
  color: #ff9210;
}

.container .item .row .school .schoolName {
  background: #366185;
  border-radius: 2em;
  display: inline-block;
  width: fit-content;
  padding: 0 8px;
  margin: 5px 0;
  font-weight: 700;
  color: #fff;
}

.container .item .row .perioid {
  width: 50%;
  text-align: end;
  color: #fff;
}

.container .item .description {
  color: #54ffd0
}