.container {
  margin-top: 101px; // for navbar
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: auto;
  align-items: center;
  justify-content: center;
}

.container ul li {
  margin: 0 8px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}