.content {
  padding-top: 101px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  min-height: 100vh;

  // desktop - mobile
  @media screen and (min-width: 800px) {
    width: auto;
  }
}
