.menuItems {
  display: flex;
  flex-direction: row;
  margin: 0 15px;
}

.menuItems a {
  margin: 0 15px;
  color: #fff;
  font-weight: 700;
}

.content {
  padding-top: 101px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}